#wkd-qua-title {
font-size: 20px;
font-weight: bold;
text-align: center;
padding-top: 4px;
background: #b4b4b4;
color: #3C3C3C;
border-radius: 0px 4px 0px 0px;
line-height: 35px;
height: 40px;
border-bottom: 2px solid #838383;
font-family: \5FAE\8F6F\96C5\9ED1,simsun,Arial;
}
.password_botton{width: 317px;height: auto;font-size: 12px;font-weight: bold;text-align: center;padding-top: 4px;margin: 0 auto;}
.btn-default{color: black;background-color: #5A5A5A;border-color: #cccccc;}
.password_box{width:300px;margin: 0 auto;height: auto;margin-top:20px;font-size: 12px;border: 1px solid #858484;border-radius: 4px;height: 120px;background: #DEDCDA;padding: 50px;}
.input-group {margin-bottom: 15px;}

