
/***工厂日历**/
.lb-calendar-left{
	background-image:url(img/calendar.png);bodrer:0px;widht:32px;height:32px;
}
.lb-calendar-red{
	background-image:url(img/calendarRed.png);
	cursor:default;
}
.lb-calendar-grey{
	background-image:url(img/calendarGrey.png)
}
.lb-calendar-green{
	background-image:url(img/calendarGreen.png);
	cursor:default;
}
.lb-calendar-blue{
	background-image:url(img/calendarBlue.png);
	cursor:default;
}
.lb-calendar-prevCalendar{
	background-image:url(img/prevpage.png);
	background-repeat:no-repeat;
	background-position:50% 50%
}
.lb-calendar-nextCalendar{
	background-image:url(img/nextpage.png);
	background-repeat:no-repeat;
	background-position:50% 50%
}
.lb-calendar-center{
	background-image:url(img/center.png);
	background-repeat:no-repeat;
	background-position:50% 30%
}

/**
*品质监控台
*/
.icon_monitor_red {
	background-image: url(${pageContext.request.contextPath}/img/qualitymonitor/red.png);
	width: 16px;
	height: 16px;
}
.icon_monitor_yellow {
	background-image: url(${pageContext.request.contextPath}/img/qualitymonitor/yellow.png);
	width: 16px;
	height: 16px;
}
.icon_monitor_green {
	background-image: url(${pageContext.request.contextPath}/img/qualitymonitor/green.png);
	width: 16px;
	height: 16px;
}