@charset "utf-8";
/* CSS Document */
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0; font-family:"microsoft yahei", "宋体"; }
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%; font-weight:normal}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
del,ins,u,s,a,a:hover{text-decoration:none;}
a,a:hover{color:#333;}

/* 避免因子元素浮动而导致的父元素高度缺失能问题 */
.cl:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } .cl { zoom:1; }
.clearfix::before, .clearfix::after {
  clear:both;
  content:" ";
  display:block;
}
.clear{clear:both;}
/*left_middle*/
.left_middle{width:570px;float:left; margin:0px auto;}
.left_middle .fsj_img{margin-top:40px;}
.left_middle p{width:365px; margin:0 auto; line-height:30px;font-size:18px;}
.left_middle .fsj_rname{padding-left:90px;}


/*发射机额定车速*/
.right_top_ms{width:510px; margin:0 auto; border:#e2e2e2 1px solid; border-radius:3px; padding-left:35px; margin-top: 80px}
.cxj_name{width:105px;float:left; font-size:18px;}
.cxj_sjt{width:335px;float:left;}
.fsj_lname{background:#85d1ef url(../images/filterAndBoxer/fsj/fsj_l.png) no-repeat; }
.fsj_spead{background:#85d1ef url(../images/filterAndBoxer/fsj/fsj_r.png)  no-repeat right center;}
.fsj_rname1{padding-left:50px;}
.fsj_rname0{padding-left:18px;}
.cxj_sjt1{width:580px;float:left;}
.cxj_yxzt{font-size:24px;}
.right_top_ms tr{height:50px;}

.left_title{font-size:22px; text-align:center; line-height:30px;}
.mxcf{line-height:40px;}

/**  单耗 样式*/
.skillbar{position:relative;display:block;margin-bottom:10px;	width:100%;	background:#eee;height:25px;	border-radius:50px !important;-moz-border-radius:3px;-webkit-border-radius:3px;-webkit-transition:0.4s linear;-moz-transition:0.4s linear;	-ms-transition:0.4s linear;	-o-transition:0.4s linear;
transition:0.4s linear;	-webkit-transition-property:width, background-color;-moz-transition-property:width, background-color;-ms-transition-property:width, background-color;-o-transition-property:width, background-color;transition-property:width, background-color;
} 
/* 虚拟背景线条*/
.skillbar clearfix{float:left;}
.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:25px;
	line-height:25px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}/*********/

.skillbar-bar {	height:25px;width:0px;	background:#6adcfa;	border-radius:50px !important;-moz-border-radius:3px;-webkit-border-radius:3px;}


/*right_middle*/
.right_middle{float:right; margin-top:10px;}
.fsj_table{width:630px;}
.fsj_table tr, .fsj_table td{border: #d5d5d5 solid 1px; font-size:18px; padding: 6px 8px; text-align: center; height: 42px; line-height: 42px;}
.fsj_tabletitle{background:#85d1ef; border-radius:5px 5px 0px 0px !important; border:none !important; color:#fff;}
.fsj_tabletitle tr, .fsj_tabletitle td{border:none !important;}
.fsj_odd{background:#f4f4f4;}