@charset "utf-8";
/* CSS Document */

/* reset通用 */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0; font-family:"microsoft yahei", "宋体"; }
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%; font-weight:normal}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
del,ins,u,s,a,a:hover{text-decoration:none;}
a,a:hover{color:#333;}

/* 避免因子元素浮动而导致的父元素高度缺失能问题 */
.cl:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } .cl { zoom:1; }
.clearfix::before, .clearfix::after {
  clear:both;
  content:" ";
  display:block;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/*--right--*/
.right_content{width:1136px;height:673px;margin:0 auto; overflow-y:auto; overflow-x:hidden;}
#right_contentbox{ margin:0 auto; }

/*--标题--*/
.right_content .top_title{background:#53d1e2;line-height:44px; color:#fff; font-size:30px; padding-left:40px;}
.top_title span{width:33px; height:33px; float: left; display: block; margin-top:5px; margin-right:5px;}
.middle_box{width:90%; margin:0 auto;}
/*设备保养通知*/
.xxtg_title{width:98%; margin:0 auto;font-size:21px; margin-top:40px; margin-bottom:5px;}
.xxtg_line{border:#979797 1px solid;}
.xxtg_icon{width:110px; height:110px; background:#a9cf55; text-align:center; border-radius:5px;}
.xxtg_table{width:98%; margin:0 auto; margin-top:15px;}
.xxtg_table td{margin:0 auto; text-align:center; font-size:16px;}
.xxtg_shebei{text-align:center; margin:0 auto;}