<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.traveler.sys.groupRoleRelation.dao.GroupRoleRelationDao">
	<sql id="conditions">
		<if test="id !=null and id !='' ">
			ID=#{id}
		</if>
		<if test="roleId != null and roleId != '' ">
			and ROLE_ID=#{roleId}
		</if>
		<if test="groupId != null and groupId != '' ">
			and GROUP_ID=#{groupId}
		</if>
	</sql>

	<select id="queryMenu" resultType="java.util.Map">
		SELECT ID,ROLE_ID,GROUP_ID from SYS_GROUP_ROLER
		<where>
			<include refid="conditions"></include>
		</where>
		ORDER BY ROLE_ID
	</select>
</mapper>