<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	<!-- 定时任务 -->
	<!-- cron="*/10 * * * * ?"  十秒钟一次 -->
	<!-- cron="0 9,19,24,29,39,49,54,59 * * * ?"  每小时的指定分钟数 -->
	<bean id="dataHandler" class="com.lanbao.dws.common.data.dac.handler.DataHandler"></bean>
 <!-- 十分钟保存一次实时数据   
 	根据对车间实际作息时间  
 	通常是正点或半点换班  
 	所以临界换班前多保存一次 
 	避免数据丢失 -->
 	<!-- 测试阶段 30一次   后期 使用   cron="0 9,19,24,29,39,49,54,59 * * * ?" -->
 	<!-- 后期 使用   cron="0 5,10,15,18,25,28,35,38,45,48,55 * * * ?" -->
	<!-- 说明  由于故障信息非项目主要关注对象，其优先级可低于生产数据，其保存频率可为10~15分钟一次 -->
	<!-- 测试阶段可注释以下节点 -->
	
 	<task:scheduled-tasks>
 		<!-- 高频保存实时数据
 		<task:scheduled ref="dataHandler" method="saveRealTimeDataTimer" cron="*/3 * * * * ?" />
 		-->
 		<!-- sqllite保存实时数据-->
 		<task:scheduled ref="dataHandler" method="sqlLiteToolsSave" cron="*/3 * * * * ?" />
 		<!-- 定时保存设备故障信息  -->
 		<task:scheduled ref="dataHandler" method="saveAllErrorData" cron="0 0/15 * * * ?" />
 		<!-- 实时保存产量、辅料数据 -->
        <task:scheduled ref="dataHandler" method="saveAllData" cron="0 5,10,15,18,25,28,35,38,45,48,54 * * * ?" />
		<!-- 工单切换 -->
		<task:scheduled ref="dataHandler" method="edWorkOrder" cron="0/10 59 7,0 * * ?" />
		<task:scheduled ref="dataHandler" method="edWorkOrder" cron="0/10 29 17 * * ?" />
	</task:scheduled-tasks>
</beans>


 
