<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 需要保存到数据库的日志 -->
	<appender name="saveLog" class="com.shisihai.base.LoggerInfo">
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>com.mysql.jdbc.Driver</driverClass>
			<!-- 必须加上编码！否则会乱码 -->
			<url>jdbc:mysql://192.168.19.132:3306/deepSSH?characterEncoding=UTF-8</url>
			<user>root</user>
			<password>ssh322</password>
		</connectionSource>
	</appender>
	<!-- 调试日志 -->
	<appender name="showSQl" class="ch.qos.logback.core.ConsoleAppender">  
	    <encoder>  
	      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>  
	      <charset>UTF-8</charset> 
	    </encoder>  
  	</appender>  
	<logger name="com.shisihai" level="info">  
        <appender-ref ref="saveLog" />
    </logger>  
    <logger name="com.shisihai" level="debug">  
        <appender-ref ref="showSQl" />
    </logger>  
</configuration>